@font-face {
    font-family: "Rfk-Regular";
    src: url("rfk86.eot");                                          /* IE */
    src: local("Rfk-Regular"), url("rfk86.ttf") format("truetype"); /* not IE */
}

body {
    background-color: black;
    color: #444;
}

body, pre {
    font-family: "Rfk-Regular", "Monaco", "DejaVu Sans Mono", monospace;
    font-size: 12px;
    line-height: 12px;
}

span.b, span.n {
    color: #999;
}

span.h {
    color: #ddd;
    border-bottom: 2px solid #ddd;
}

em {
    font-style: normal;
    color: #ccc;
}

span.deem {
    color: #444;
}

a {
    color: #9e9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Screenshot page specials. */

div.screen {
    float: left;
    text-align: center;
}

img {
    padding: 2px;
    border: 3px solid #444;
    background-color: #897;
}
